.main {
  overflow-x: hidden;
}
.title-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
.error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: gray;
}
.error-msg img {
  width: 50%;
  height: 50%;
}
